/* Reset some default styles for better consistency */
body, h1, h2, h3, h4, h5, h6, p, ul, li, form, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: #00FF00;
    font-size: 20px;
    position: relative;
    font-family: monospace;
}

/* Create a matrix-style effect for the falling characters */
.spawn-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(32px + 4px));
    gap: 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0 2px;
}

.array {
    display: grid;
    grid-template-columns: repeat(45, 1fr);
    gap: 4px;
    position: absolute;
    animation: fall linear infinite, fadeOut linear;
    transform-origin: left top;
    white-space: nowrap;
    font-size: 20px;
}

.character {
    transform: rotate(90deg);
}

@keyframes fall {
    0% {
        transform: translateY(-100%) rotate(-90deg);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(80vh) rotate(-90deg);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* New Matrix-style login form styles */
.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
}

.login-title {
    color: #00FF00;
    font-size: 28px;
    margin-bottom: 20px;
    letter-spacing: 4px;
}

.login-input {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #00FF00;
    border-radius: 0;
    color: #00FF00;
    padding: 8px;
    margin: 8px 0;
    width: 200px;
    font-size: 16px;
}

.login-button {
    background-color: #00FF00;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 0;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #33FF33;
}

.flash-red {
    color: red;
}
